---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro'
import Hero2 from '../components/Hero2.astro'
import About from '../components/About.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Mission from '../components/Process.astro'
import Services from '../components/Principles.astro';
import Cta from '../components/Cta.astro'


import LocomotiveScroll from 'locomotive-scroll';
import Contacts from '../components/Contacts.astro';
---

<Layout title="Ладыгина Елена - профессиональный стилист и имиджмейкер">
	<main scroll-container>
		<Header />
		<Hero2 />
		<About />
		<Mission />
    <Cta />
    <Services />
    <Contacts />
		<Footer />
		<div class="bg"></div> 
	</main>
</Layout>

<style>

main {
		height: 100%;
    overflow-x: hidden; 
	}

.bg {
  position: fixed;
  z-index: 999;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}



img {
	display: block;
	width: 100%;
	padding-top: 50px;
	transition: width 2s ease-in;
	object-fit: contain;
}

h1 {
	color: var(--clr-primary-500);
	font-size: 8rem;
}

.header {
	opacity: 0;
	transition: opacity 2s ease-in;
}

.reveal {
	opacity: 1;
}

</style>

<script>

import LocomotiveScroll from "locomotive-scroll";
const scroll = new LocomotiveScroll({
    el: document.querySelector('[data-scroll-container]'),
    smooth: true,
	  multiplier: 1,
});

document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});

setTimeout(() => {  
    LocomotiveScroll.destroy();
}, 0);
setTimeout(() => {  
    LocomotiveScroll.init();
}, 50);
setTimeout(() => {  
    LocomotiveScroll.update();
}, 1000);

 
</script>
