*,
*::before, 
*::after{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --clr-bg: #F5E5D1;

    --clr-primary-600: #136A60;
    --clr-primary-500: #4F826B;
    --clr-primary-400: #7D9A7B;
    --clr-primary-300: #A8B292;

    --clr-white-0: #fff;
    --clr-white: #F5E5D1;
    --clr-black: #232323;

    --clr-grey-500: #ccc;
    --clr-grey-400: #D1CBAF;

    --clr-blur: #F5DFC7;


    --ff-main: 'Montserrat', sans-serif;

    --fs-500: 18px;
    --fs-400: 16px;
    --fs-300: 14px;
    --fs-200: 12px;

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;



}


html {
	font-family: var(--ff-main); 
	overflow-x: hidden;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #F7F3E8;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



