---
import Label from "./Label.astro"
import { Icon } from "astro-icon/components";
---

<section class="about">
	<div class="section-header" id="about" data-scroll data-scroll-speed="0.1">
		<Label label="Обо мне"/>
		<p data-scroll data-scroll-class="text-rev">Я — дипломированный, сертифицированный и&nbsp;самопровозглашенный специалист в области индивидуального проектирования имиджа и&nbsp;стиля  уже более 15 лет.</p>
	</div>

	<div class="section-content" data-scroll data-scroll-speed="0.1">
		<div>

		<div  class="img-container" data-scroll data-scroll-speed="0.1">
			<img src="about-img.jpg" alt="" data-scroll data-scroll-speed="-0.2">
		</div>
		<div class="outline"></div>
		<Icon name="arrow-bend" />
		<div class="blur-bg"></div>
		</div>
		<div>
			<div class="blur-bg-2"></div>
		<p>Создание стиля - не просто хобби или увлечение - для меня это профессия и призвание.
			Мой подход базируется на синтезе 3х составляющих: физические данные+психологический портрет+социальные задачи.</p>
			<p>Эксперименты с гардеробом могут стать захватывающим инструментом самопознания, эффективным средством для прохождения кризиса, верным механизмом освоения нового социального статуса.
			</p>
			<p>Одевать только тело очень просто, как манекен. Но я убеждена, что самое ценное - это попасть в «угольное ушко», сформированное синтезом ваших физических данных, психологических и социальных потребностей. Вот где магия, и кайф. 
			</p>
			<p>
			И да, гардероб и шопинг должны приносить не только пользу, но и истинное удовольствие.
			Если вы в это верите - то вам ко мне, а если не верите, - то ко мне ТОЧНО))
			</p>
			<div class="btn-container">
				<a href="#contacts" class="btn">Связаться</a>
			</div>
		</div>
		
		
	</div>

	<div class="line-container">
		<img class="line" src="line.svg" alt="">
	</div>


</section>

<style>

	.bg-line {
		position: absolute;
		width: 800px;
		height: 800px;
		border: 1px solid var(--clr-grey-500);
		border-radius: 50%;
		z-index: 3;
		right: -350px;
		margin-top: -70%;
		opacity: 0.5;
	}

	.btn-container {
		margin-top: 80px;
	}

	.outline {
		width: calc(50% - 3rem);
		height: 23vw;
		border: 1px solid var(--clr-grey-500);
		position: absolute; 
		border-radius: 50%;
		rotate: 25deg;
		z-index: -1;
		top: 25px;
	}

	[data-icon] {
		position: absolute;
		font-size: 2rem;
		color: var(--clr-grey-500);
		bottom: 0;
		right: 50%;
	}

	.blur-bg {
		width: calc(50% - 3rem);
		height: 750px;
		width: 750px;
		position: absolute; 
		border-radius: 50%;
		z-index: -2;
		filter: blur(150px);
		background: #F5DFC7;
		left: -30%;
		bottom: -60%;
		opacity: 1;
	}

	.blur-bg-2 {
		width: calc(50% - 3rem);
		height: 750px;
		width: 750px;
		position: absolute; 
		border-radius: 50%;
		z-index: -2;
		filter: blur(150px);
		background: #F5DFC7;
		right: -35%;
		top: -100%;
		opacity: 1;
	}

	a {
		color: var(--clr-black);
		font-size: 1.3rem;
		border: 1px solid var(--clr-primary-600);
		padding: 1rem 3rem;
		border-radius: 50%;
		text-decoration: none;
		z-index: 90;
		
	}

	.line {
		width: 22%;
		margin-left: -350px;
	}

	.line-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 25px;
		display: none;
	}

	img {
		max-width: 110%;
		display: block;
		rotate: -25deg;
		margin-left: 12%;
		margin-top: -50px;
		object-fit: cover;
	}

	.img-container {
		overflow: hidden;
		border-radius: 50%;
		max-width: 100%;
		height: 23vw;
		rotate: 25deg;
		margin-top: 30px;
		object-fit: cover;
	}

	.about {
		max-width: 1800px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;

		padding: 0 8rem;

		margin-top: 9rem;
		z-index: 0;
	}

	.section-header {
		display: grid;
		grid-template-columns: 10% 80%;
		align-items: start;
		gap: 10%;
	}

	.section-content {
		display: flex;
		gap: 8rem;
		margin-top: 20px;
	}

	.section-content > * {
		flex: 1;
	}

	.section-content p {
		color: var(--clr-black);
        font-size: 16px;
		line-height: 150%;
		margin-top: 2rem;
		max-width: 60ch;
		
	}


	.section-header p {
        font-size: clamp(1.55em, 2.3vw, 2.5em);
		line-height: 140%;
		font-weight: var(--fw-400);
		max-width: 38ch;
		z-index: 3;
		position: relative;
	}

	.text-rev {
		opacity: 1;
	}

	@media (max-width: 1279px) {

		a {
			display: none;
		}

		.btn-container {
			display: none;
		}	


		.about {
			padding: 0 1.5rem;
			margin: 0;
			margin-top: 4rem;
		}

		.section-header {
			grid-template-columns: 1fr;
			gap: 1rem;
		}

		.section-content p{
			margin: 0;
			margin-top: 2rem;
		}

		.section-content {
			flex-direction: column;
			gap: 2rem;
		}

		.img-container {
			height: 200px;
			margin-top: 0;
		}

		.outline {
			height: 200px;
			width: 100%;
			margin-top: 0;
		}

		[data-icon] {
			display: none;
		}

		img {
			margin-left: 15px;
		}

		.section-contet p {
			margin-top: 0;
		}

		.blur-bg {
			display: none;
		}

		.blur-bg-2 {
			display: none;
		}

		.about {
			margin-top: 70px;
		}

		a {
			text-align: center;
		}


	}
</style>