---
const { number, text, price} = Astro.props;
---

<div class="card">
    <div class="content-container">
        <h3 class="card-number">{number}</h3>
        <div>
            <p class="card-text">{text}</p>
            <p class="card-price">{price}</p>
        </div>
    </div>
</div>


<style>

	.card {
		border: 1px solid #ccc;
		border-radius: 20px;
        padding: 2rem;
        transition: .8s ease-in-out;
	}

    .card:hover {
        background: #232323;
        color: white;
        rotate: -3deg;
    }

    .card-number {
        margin-bottom: 2rem;
        font-weight: var(--fw-300);
        font-size: clamp(1.5rem, 1.9vw, 2rem);
    }

    .content-container {
        display: flex;

        flex-direction: column;

        justify-content: space-between;
        height: 100%;
    }

    .card-header {
        font-size: clamp(1.5rem, 1.9vw, 2rem);
        margin-bottom: 1rem;
    }

    .card-text {
        margin-bottom: 1rem;
    }

</style>