--- ---

<div id="circle-txt">
   СНАЧАЛА ВЫ, А УЖЕ ПОТОМ МОДА И ТРЕНДЫ ✦    
</div>


<style>
    #circle-txt {
        animation: rounded 18s linear infinite;
        position: absolute;
        z-index: 5;
        font-weight: 400;
        color: #232323;
        top: 8%;
        left: 38%;
    }

    @keyframes rounded{
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>
    import CircleType from 'circletype'
    let circle = new CircleType(document.getElementById('circle-txt'));
    circle.raduis(360);
</script>