---
---

<section class="footer" data-scroll-section>
    <p>© 2024 | LadyGina</p>
</section>
<style>

    .footer {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #ccc;
    }

    h2 {
        color: var(--clr-white);
    }

</style>