---
 import { Icon } from 'astro-icon/components'
---

<header>
  <nav>

    <a href="/" class="logo">✦ Elena Ladygina</a>

    <ul class="desktop-menu">
     <li><a href="#about">Обо мне</a></li>
     <li><a href="#process">Процесс</a></li>
     <li><a href="#principles">Принципы</a></li>
     <li><a href="#contacts">Контакты</a></li>
    </ul>

     <div class="social-links">
        <a href="#"><Icon name="telegram-icon" /></a>
        <a href="#"><Icon name="whatsapp-icon" /></a>
        <a href="#"><Icon name="envelope-icon" /></a>
     </div>
    </ul>

    <ul class="sidebar" data-visible="false">
     <li><a href="#about">Обо мне</a></li>
     <li><a href="#process">Процесс</a></li>
     <li><a href="#pricinces">Принципы</a></li>
     <li><a href="#contacts">Контакты</a></li>
    </ul>

    <div class="hum"><Icon name="hum" /></div>


  </nav>
    
</header>


<style>

  header {
    width: 100%;
    position: fixed;
    z-index: 99;
    color: var(--clr-white);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid white;
    font-size: 16px;
    
  }

  nav {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem;
  } 

  ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
  }
  

  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s ease-in-out;
  }

  a:hover {
    color: black;
    scale: 1.2;
  }

  svg {
    height: 100%;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }

  .social-links > * {
    flex: 1;
  }

  [data-icon] {
    font-size: 1.3rem;
  }

.hum {
    display: none;
  }

  .sidebar {
    height: 100dvh;
    width: 65%;
    background-color: #cccccc;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    gap: 2rem;
  }

  .sidebar[data-visible="true"] {

    transform: translateX(0%);

  }

  @media (max-width: 1279px) {

    .desktop-menu {
      display: none;
    }

    .hum {
      display: block;
      z-index: 999;
    }

    nav {
      padding: 1rem 1.5rem;
    }

    .social-links {
      display: none;
    }

  }



</style>


<script>

  const hum = document.querySelector('.hum');
  const sidebar = document.querySelector('.sidebar');

  hum.addEventListener('click', ()=>{
    const visibility = sidebar.getAttribute('data-visible');

    if(visibility === 'false') {
     sidebar.setAttribute('data-visible', 'true'); 

    } else if(visibility === 'true') {
      sidebar.setAttribute('data-visible', 'false');
    }
  })

</script>
