---
 import { Icon } from 'astro-icon/components'
 import MenuBtn from './MenuBtn.astro';
---

<header>
  <nav>

    <a href="/" class="logo">✦ Elena Ladygina</a>

    <ul class="desktop-menu">
     <li><a href="#about">Обо мне</a></li>
     <li><a href="#process">Процесс</a></li>
     <li><a href="#principles">Принципы</a></li>
     <li><a href="#contacts">Контакты</a></li>
    </ul>

     <div class="social-links">
        <a href="https://t.me/ElenLadyGina"><Icon name="telegram-icon" /></a>
        <a href="https://wa.me/+79055082987"><Icon name="whatsapp-icon" /></a>
        <a href="#"><Icon name="envelope-icon" /></a>
     </div>

    <ul class="sidebar" data-visible="false">
     <li><a href="#about" class="link">Обо мне</a></li>
     <li><a href="#process" class="link">Процесс</a></li>
     <li><a href="#principles" class="link">Принципы</a></li>
     <li><a href="#contacts" class="link">Контакты</a></li>
     <li class="mobile-social-links">
      <>
        <a href="tel:+79055082987">+7 905 508-29-87</a>
        
          <div class="social-links2">
              <a href="https://t.me/ElenLadyGina"><Icon name="telegram-icon" /></a>
              <a href="https://wa.me/+79055082987"><Icon name="whatsapp-icon" /></a>
              <a href="#"><Icon name="envelope-icon" /></a>
          </div>

      </div>
    </li>
    </ul>

    <div class="hum open"><MenuBtn /></div>


  </nav>
    
</header>


<style>

  header {
    width: 100%;
    position: absolute;
    z-index: 999;
    font-size: 18px;
    
  }

  .logo {
    z-index: 99;
    font-size: 1.2rem;
  }

  nav {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
  } 

  ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
  }
  

  a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 16px;
    transition: all .3s ease-in-out;
    font-weight: 400;
  }

  a:hover {
    color: var(--clr-white-0);
    scale: 1.2;
  }

  svg {
    height: 100%;
    stroke-width: 1px;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }

  .social-links > * {
    flex: 1;
  }

  .social-links2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    padding: 2rem 0;
  }

  .social-links2 > * {
  }

  [data-icon] {
    font-size: 1.3vw;
    color: var(--clr-white);
    height: 100%;
  }

.hum {
    display: none;
  }

  .sidebar {
    height: 100dvh;
    width: 100%;
    background-color: var(--clr-black);
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    transform: translateY(100%);
    transition: all .3s ease-in-out;
    display: none;
    align-items: center;
    flex-direction: column;
  }

  .sidebar[data-visible="true"] {

    transform: translateY(0%);

  }

  .sidebar li {
    text-align: center;
  }

  .sidebar li a {
    font-size: 24px;
  }

  @media (max-width: 1279px) {

    header {
      position: fixed;
    }

    .desktop-menu {
      display: none;
    }

    .hum {
      display: block;
      z-index: 999;
    }

    nav {
      padding: 1rem 1.5rem;
    }

    .social-links {
      display: none;
    }

    [data-icon] {
      font-size: 18px;
      height: 100%;
    }

    .social-links2 [data-icon] {
      font-size: 1.5rem; 
    }
    .sidebar {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    .mobile-social-links {
      bottom: 2rem;
      position: absolute;
    }

  }



</style>


<script>

  const hum = document.querySelector('.hum');
  const sidebar = document.querySelector('.sidebar');
  const link = document.querySelectorAll('.link');
  const menuBtn = document.querySelector('#burger')

  hum.addEventListener('click', ()=>{
    const visibility = sidebar.getAttribute('data-visible');

    if(visibility === 'false') {
     sidebar.setAttribute('data-visible', 'true'); 

    } else if(visibility === 'true') {
      sidebar.setAttribute('data-visible', 'false');
    }
  })

  link.forEach((link) => {
    link.addEventListener('click', ()=>{
      sidebar.setAttribute('data-visible', 'false');
      menuBtn.classList.toggle('burgeractive');
    })
  })


</script>
