---
import CircleText from '../components/CircleText.astro'
import { Icon } from 'astro-icon/components'
---


<section class="hero">
    <p class="heading" data-scroll data-scroll-speed="0.7">LADYGINA ✦ ELENA ✦ LADYGINA ✦  ELENA ✦ </p>
    <div class="hero-content">
        <div class="left">
            <p> Стилист<br> имиджмейкер</p>
        </div>
         <div class="img-container">
            <img src="bg-test.png" alt="" data-scroll data-scroll-speed="-0.2"> 
        </div>
        <div class="right">
            <Icon name="arrow" data-scroll data-scroll-speed="0.2"/>
            <p data-scroll data-scroll-speed="0.1">Стилист —<br>имиджмейкер</p>
        </div>
    </div>

    <div class="arc"></div>
    <div class="arc bg-gradient"></div>
</section>

<style>


    img {
        position: absolute;
        bottom: 0;
        max-width: 85%;
        height: 85%;
        z-index: 2;
    }


    .img-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .arc {
        border: 1px solid var(--clr-white);
        border-radius: 50% 50% 0 0 ;
        height: 75%;
        width: 33%;
        margin: 0 auto;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-gradient {
        border: none;
        background: white;
        filter: blur(180px);
        width: 700px;
        height: 800px;
        bottom: -100px; 
    }

    .heading {
        color: var(--clr-white);
        font-size: calc(12vw - 8.60465px);
        font-weight: 200;
        position:absolute;
        width: 300%;
        z-index: 99;
        bottom: 0;
        padding: 1rem 4rem;
        overflow: hidden;
        animation: move 30s infinite linear;
    }


    .hero {
        height: 100dvh;
        background: var(--clr-white-0);
        background: linear-gradient(183deg, var(--clr-primary-400) 20%, var(--clr-primary-500) 94%);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 9;
    }

    .left {
        opacity: 0;
    }

    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 8rem;
        margin-top: -6rem;
    }


    .hero-content .right p {
        font-size: clamp(1.55em, 2.3vw, 2.5em);
        line-height: 120%;
        letter-spacing: -1px;
        font-weight: 400;
        color: var(--clr-white-0);
         
    }

    .hero-content .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8rem;
    }

    [data-icon] {

        font-size: 1.3vw;
        margin-bottom: 3rem;
        color: var(--clr-white) !important;
    }


    @keyframes move {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }


    @media (max-width: 1279px) {
      .heading {
        font-size: 5rem;
        width: 2500px;
      } 

      .hero-content {
        display: none;
      }

      .arc {
        display: none;
      }

    }
</style>
