---
import CircleText from '../components/CircleText.astro'
import { Icon } from 'astro-icon/components'
---


<section class="hero">
    <p class="heading" data-scroll data-scroll-speed="0.7">LADYGINA ✦ ELENA ✦ LADYGINA ✦  ELENA ✦ </p>
    <div class="hero-content">
        <div class="left">
            <p> Стилист<br> имиджмейкер</p>
        </div>
         <div class="img-container"><img src="bg-test.png" alt="" data-scroll data-scroll-speed="-0.2"> </div>
        <div class="right">
            <Icon name="arrow" data-scroll data-scroll-speed="0.2"/>
            <p data-scroll data-scroll-speed="0.1">Стилист —<br>имиджмейкер</p>
        </div>
    </div>
</section>

<style>

    img {
        position: absolute;
        bottom: 0;
        max-width: 85%;
        height: 85%;
        z-index: 2;
    }


    .img-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .heading {
        color: white;
        font-size: calc(12vw - 8.60465px);
        font-weight: 200;
        position:absolute;
        width: 300%;
        z-index: 99;
        bottom: 0;
        padding: 3rem 4rem;
        overflow: hidden;
        animation: move 30s infinite linear;
    }


    .hero {
        height: 100dvh;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 18%, rgb(158, 171, 177) 94%);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 8rem;
        margin-top: -8rem;
    }


    .hero-content .right p {
        font-size: clamp(1.55em, 2.3vw, 2.5em);
        line-height: 120%;
        letter-spacing: -1px;
        font-weight: 400;
        color: white;
         
    }

    .hero-content .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4rem;
    }

    [data-icon] {

        font-size: 1.8rem;
        margin-bottom: 3rem;
    }


    @keyframes move {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }


    @media (max-width: 1279px) {
      .heading {
        font-size: 5rem;
        width: 2500px;
      } 
    }
</style>
