---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../style/global.css'
import '../style/post_style.css'


---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />


        <meta name=”description” content="Дипломированный, сертифицированный и самопровозглашенный специалист в области индивидуального проектирования имиджа и стиля уже 15 лет.">
        <meta name="robots" content="index,follow">

        <meta property="og:title" content="Ладыгина Елена - профессиональный стилист и имиджмейкер" />
        <meta property="og:locale" content="ru" />
        <meta property="og:description" content="Дипломированный, сертифицированный и самопровозглашенный специалист в области индивидуального проектирования имиджа и стиля уже 15 лет." />
        <meta property="og:site_name" content="Ладыгина Елена - профессиональный стилист и имиджмейкер" />

		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>{title}</title>

	</head>
	<body>
		<slot />
	</body>
</html>

